<div class="header">
    <div class="container">
        <div class="row">
            <div class="col-md-8 primary">
                <a href="//hostingreborn.com" id="logo"></a>
                <a href="/" id="name">                                
                    {{ site.name }}
                </a>
                
                <div class="leader">
                    <p class="intro">
                        Developing the UK's leading pay-as-you-go web hosting service
                    </p>
                </div>
            </div>            
            <div class="col-md-4 sidebar">
            </div>
        </div> 
    </div>
</div>