<!DOCTYPE html>
<html lang="en">
    <head>
        <title>
            {% if page.title %}
            {{ page.title }}
            {% else %}
            {{ site.name }}
            {% endif %}
        </title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <link href="{{ site.url }}/feed.xml" rel="alternate" type="application/rss+xml" title="Hosting Reborn Blog Feed" />
        {% include assets/css/default.html %}
        {% include assets/js/default.html %}
        <script>
            var _gaq = _gaq || [];
            _gaq.push(['_setAccount', 'UA-5950002-1']);
            _gaq.push(['_setDomainName', '.hostingreborn.com']);
            _gaq.push(['_trackPageview']);

            (function() {
                var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
                ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
                (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(ga);
            })();  
        </script>        
    </head>
    <body id="{% include page/id %}">
        {% include header/navigation.html %}
        
        {% include header/introduction.html %}
        {% include header/newer-older.html %}

        <div class="container">
            <div class="row">
                <div class="col-md-8">
                    {% case page.url %}
                    {% when '/index.html' %}
                    {% include posts/latest.html %}
                    {% when '/archive_source/index.html' %}
                    {% include posts/archive.html %}
                    {% else %}
                    {% include posts/post.html %}
                    {% endcase %}                                      
                </div>
                <div class="col-md-4 sidebar">    
                    {% include sidebar/twitter-latest.html %}                                                            
                    {% include sidebar/recent.html %}
                </div>
            </div>
        </div>
    </body>
</html>